{% extends "base.html" %}

{% block title %}Profile{% endblock %}

{% block content %}
<div class="profile-container">
    <h1>Your Profile</h1>
    <form action="/profile" method="post" class="boxed-form">
        <div class="checkbox-container">
            <div class="checkbox-column">
                {% for label in health_labels[0:12] %}
                <div class="checkbox-item">
                    <input type="checkbox" id="{{ label.api_param }}" name="restrictions" value="{{ label.api_param }}"
                           {% if label.api_param in dietary_restrictions %}checked{% endif %}>
                    <label for="{{ label.api_param }}">{{ label.web_label }}</label>
                </div>
                {% endfor %}
            </div>
            <div class="checkbox-column">
                {% for label in health_labels[12:24] %}
                <div class="checkbox-item">
                    <input type="checkbox" id="{{ label.api_param }}" name="restrictions" value="{{ label.api_param }}"
                           {% if label.api_param in dietary_restrictions %}checked{% endif %}>
                    <label for="{{ label.api_param }}">{{ label.web_label }}</label>
                </div>
                {% endfor %}
            </div>
            <div class="checkbox-column">
                {% for label in health_labels[24:] %}
                <div class="checkbox-item">
                    <input type="checkbox" id="{{ label.api_param }}" name="restrictions" value="{{ label.api_param }}"
                           {% if label.api_param in dietary_restrictions %}checked{% endif %}>
                    <label for="{{ label.api_param }}">{{ label.web_label }}</label>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="submit-container">
            <button type="submit">Save Preferences</button>
        </div>
    </form>
</div>
{% endblock %}
